.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    justify-content: center;
    padding: 20px 0px;
    //min-height: 500px;
}

.inner {
    color: white;
    display: flex;
    align-items: center;

    a {
        color: white;
    }
}
