.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 233, 233);
}

.wrapper-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row wrap;
    width: 1140px;
    padding: 80px 0px;

    @media (max-width: 900px) {
        width: 100%;
    }
}

.wrapper-content-item {
    flex: 1;
    padding: 0px 15px;
}

.block {
    margin-bottom: 30px;
}

.block-content {
    font-weight: 400;
    font-size: 1.3rem;
    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 10px;

        :hover {
            font-weight: 600;
            color: rgb(3, 12, 139);
        }
    }
}

.logo-footer {
    display: block;
    margin-top: -10px;
    margin-bottom: 23px;
}

.content-logo {
    text-align: justify;
    margin-bottom: 16px;
}

.block-contact-title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-bottom: 16px;
}

.block-contact-content {
    font-weight: 400;
    font-size: 1.3rem;
}

.contact-us {
    margin-bottom: 20px;
}

.title-content {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
}

.icon {
    margin-left: 1px;
    margin-right: 10px;
}

.content-contact {
    margin-left: 7px;
    border-left: 1px solid #000;
    padding-left: 20px;
}

.block-right-contact-1 {
    margin-bottom: 30px;
}

.block-right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.social {
    display: flex;
    flex-direction: row;
}

.list-inline {
    display: flex;
    height: 2.5pc;
    width: 2.5pc;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #777;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    img {
        flex: 1;
        color: white;
        height: 70%;
        width: 70%;
    }

    &:hover {
        background-color: #ff5151;
    }
}

.input-subscribe {
    margin-top: 20px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;

    input {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 10px 15px;
        flex: 1;
    }
}

.btn-sunscribe {
    padding: 8px 20px;
    background-color: #000;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    span {
        font-weight: 500;
        font-size: 0.114583333in;
    }
}
