.wrapper {
    --search-border-radius: 20px;
    width: 100%;
    height: var(--main-layout-header-height);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--main-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 900px) {
        width: 100%;
        justify-content: center;
    }
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    img {
        width: 70%;
        object-fit: cover;
    }
}

.main-menu {
    height: 100%;
    width: 475px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    @media (max-width: 900px) {
        display: none;
    }
}

.active {
    //border-bottom: 5px solid #333;
}

.menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0px 20px;
    position: relative;

    a {
    }
}

.border-line {
    height: 100%;
    &:hover {
        //outline: 5px  solid #fb0;
        border-bottom: 5px solid #333;
    }
}

.right-menu {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    position: relative;
}

.search {
    height: 40px;
    //width: 211px;
    padding: 9px 15px 9px 15px;
    display: flex;
    border-radius: var(--search-border-radius);
    align-items: center;
    background-color: #e5e5e5;
    margin-right: 42px;

    input {
        height: 100%;
        color: var(--black);
        font-size: 0.6875pc;
        border: none;
        outline: none;
        background-color: transparent;
        flex: 1;
    }
}

.search-btn {
    height: 100%;
    width: 14px;
}

.acctions {
    display: inline-flex;
    flex-direction: row;
}
